/* [class*="col-"] {
  border: 1px solid white;
  background-color: green;
  color: white;
} */

.ml-2 {
  margin-left: 2px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.title-center {
  text-align: center;
}

.card-header {
  color: orange;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-between;
}

.form-label {
  font-weight: 600;
}
